$black: #232323;
$background: #eaeaea;
$gray-line: #e3e3e3;
$orange: #FED876;

$phone: 700px;
$tablet: 1000px;
$notepad: 1300px;
$pc: 1600px;

$container-width: 80%;
$container-phone-width: 95%;

$h1: 2rem;
$h2: 1.6rem;
$h3: 1.2rem;
$h4: 1rem;
$h5: 0.8rem;

$duration: 0.15s;
